.btmLeft {
    height: 300px;
}

.rightColBox {
    height: 100px;
    margin: 20px;
}

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-decoration: none;
    font-family: 'Russo One';
}

.w3-card-4 {
    height: 400px;
}


/* Index page*/

.apod-button {
    margin: 0 0 10px 0;
}

.apod-delete-btn {
    margin: 0 0 10px 0;
}


/* launch page */

.search {
    display: flex;
    justify-content: center;
}

#navBar {
    padding-top: 10px;
    margin-top: 30px;
}

#voyager-title {
    font-size: 60px;
    margin-left: 50px;
}

#astronautInfoContainer {
    margin: auto;
    /* padding: 200px; */
}

.astro {
    height: 800px;
}

.infoCard {
    border-radius: 18px;
    background: #1d1d1d;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: justify;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.rgb::after {
    content: "";
    background: linear-gradient(45deg, #ff0000 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    /*or z-index */
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}